.small-detail-card {
  padding: 27px 23px;
}
.cart-1 {
  background-color: #21cdc0;
  color: white;
}
.cart-2 {
  background-color: #3851a2;
  color: white;
}
.cart-3 {
  background-color: #2d4990;
  color: white;
}
