@import '../../../Styled/_Colors.scss';

.small-detail-card {
  padding: 27px 23px;
}
.cart-1 {
  background-color: $primary;
  color: $white;
}
.cart-2 {
  background-color: $secondary;
  color: $white;
}
.cart-3 {
  background-color: $dark;
  color: $white;
}
